<div class="m-2">
  <p class="h1">Stupid Coaching</p>
</div>

<div class="bg-secondary p-2 m-2 border-start border-5 bg-gradient bg-opacity-10">
  <blockquote class="blockquote"><p><%= @question %></p></blockquote>
  <p><i>-You</i></p>
</div>

<div class="bg-warning p-2 m-2 bg-gradient border-start border-5 bg-opacity-25">
  <blockquote class="blockquote"><p><%= @coach_answer %></p></blockquote>
  <p><i>-Your coach</i></p>
</div>

<div class="m-3">
  <%= link_to "Ask a new question", ask_path %>
</div>
