<form action="answer" data-turbo="false"> <!--answer es donde me redirige una vez se haga click en el boton submit-->
  <input type="text" name="question" placeholder="Ask a question">
  <input type="submit" value="Ask!">
</form>
